body {
  color:white;
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  /*background-image: url("../images/image-2.jpg");*/
  background-color:#37373c;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  margin:2% 20%;
  padding: 0 5% ;
  border-radius: 10px;
  background: rgba(0,0,0,0.7);
}
.head-title{
  text-align:center;
  font-size:2rem;
  font-family: 'Rubik', sans-serif;
}
#outer-box {
  border: 10px solid #292929 ;
  border-radius: 2%;
  height:550px;
  width:550px;
  margin: auto;
  background-color: black
}
#top-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:20px;
}
#bottom-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:20px;
}
#inner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#switches{
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
#top-left {
  border:5px solid #292929;
  height:150px;
  width: 150px;
  background-color: grey;
}
#top-right {
  border: 5px solid #292929;
  height:150px;
  width: 150px;
  background-color: grey;
}
#bottom-left {
  border:5px solid #292929;
  height:150px;
  width: 150px;
  background-color: grey;
}
#bottom-right {
  border: 5px solid #292929;
  height:150px;
  width: 150px;
  background-color: grey;
}
#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  padding: 10px 5px;
}
#turn {
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: auto;
}
.toggle {
  margin: auto;
}
.text1 {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.text2 {
  margin: auto;
}
.rules {
  padding: 0px 20px;
}

/*Button*/
.button {
  background-color:#fffffc;
  margin: 5% 40%;
  font-size: 1.5rem;
  padding:1%;
  color: #000;
  border-radius:10px;
  border:5px solid #292929;
  }
.button:hover{
  background:#333;
}

/*modal*/
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left:0;top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}
.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  color:black;
  width:60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
              0 7px 20px 0 rgba(0,0,0,0.2);
  animation-name: modalopen;
  animation-duration: 1s;
}
.modal-header{
  background:grey;
  padding:15px;
  color:#fff;
  text-align: center;
}
.modal-body{
  padding: 10px 20px;
}
.closeBtn{
  color: #fff;
  float:right;
  font-size:30px;
}
.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
.rules {
  font-family: 'Merriweather', serif;
  font-size:1.2rem;
}
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}


@media only screen and (max-width: 768px) {
  #outer-box {
  border: 10px solid #292929 ;
  border-radius: 2%;
  height:800px;
  width:500px;
  margin: auto;
  background-color: black
}
#inner-box{
  padding:20% 0;
}
.header {
  display:none;
}
}